[graph]
all-features = true

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
]
exceptions = [
    { allow = ["Unicode-3.0"], crate = "unicode-ident" },
    { allow = ["Zlib"], crate = "foldhash" }
]

[bans]
multiple-versions = "deny"
wildcards = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "deny"